<!--[if lte IE 8]>         <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Component Guide | canary2 Style Prototype</title>

    <meta name="viewport" content="width=device-width">

    <!-- Prototype CSS -->
    <link rel="stylesheet" href="/canary-neue/css/prototype.css">
    
    <!-- Prism CSS -->
    <link rel="stylesheet" href="/canary-neue/bower_components/prism/prism-okaidia.css">
    

    <!-- Async Webfonts -->
    



<!-- H&FJ -->
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6578432/747402/css/fonts.css" />


    <!-- Modernizr stays in the head -->
    <script src="/canary-neue/bower_components/modernizr/modernizr.js"></script>
  </head>

  <body>
    <div id="prototype-header">
      <div class="content-wrapper">
        <header>
  <div class="inner-wrapper">
    <div id="client-id">
      
        <h1 class="client-name">canary2</h1>
      
    </div>
    <aside id="page-id">
      <h2 class="section-name">Component Guide</h2>
      <div class="page-info">
        <p>Version 0.0.0</p>
      </div>
    </aside>
  </div>
  <nav id="prototype-nav" role="navigation">
    <b id="menu-toggle">menu</b>
    <div role="menubar">
      
      <a href="/" role="menuitem">Style Tile</a>
      
      <a href="/elements" role="menuitem">Elements</a>
      
      <a href="/typography" role="menuitem">Typography</a>
      
      <a href="/components" role="menuitem">Components</a>
      
      <a href="/colors" role="menuitem">Colors</a>
      
      <a href="/canary" role="menuitem">Canary</a>
      
    </div>
  </nav>
  <script type="text/javascript">
    (function(){var e=document.getElementById("menu-toggle");e.addEventListener("click",function(){e.classList.toggle("open")})})()
  </script>
</header>

      </div>
    </div>

    <main>
      <div class="content-wrapper">
        

<article class="prototype--messaging">
  <header>
    <h2>Messages</h2>
  </header>
  <div class="prototype-group--message">
  <ul component-list>
    
      <li>
        <div class="message status">
  <h2 class="element-invisible">status message</h2>
  <p>This is a <em>status</em> message</p>
</div>

        
          <details>
  <summary>HTML Source</summary>
  <pre class="example"><code class="language-markup">&lt;div class="message status"&gt;
  &lt;h2 class="element-invisible"&gt;status message&lt;/h2&gt;
  &lt;p&gt;This is a &lt;em&gt;status&lt;/em&gt; message&lt;/p&gt;
&lt;/div&gt;</code></pre>
</details>
        
      </li>
    
      <li>
        <div class="message warning">
  <h2 class="element-invisible">warning message</h2>
  <p>This is a <em>warning</em> message</p>
</div>

        
          <details>
  <summary>HTML Source</summary>
  <pre class="example"><code class="language-markup">&lt;div class="message warning"&gt;
  &lt;h2 class="element-invisible"&gt;warning message&lt;/h2&gt;
  &lt;p&gt;This is a &lt;em&gt;warning&lt;/em&gt; message&lt;/p&gt;
&lt;/div&gt;</code></pre>
</details>
        
      </li>
    
      <li>
        <div class="message error">
  <h2 class="element-invisible">error message</h2>
  <p>This is a <em>error</em> message</p>
</div>

        
          <details>
  <summary>HTML Source</summary>
  <pre class="example"><code class="language-markup">&lt;div class="message error"&gt;
  &lt;h2 class="element-invisible"&gt;error message&lt;/h2&gt;
  &lt;p&gt;This is a &lt;em&gt;error&lt;/em&gt; message&lt;/p&gt;
&lt;/div&gt;</code></pre>
</details>
        
      </li>
    
  </ul>
</div>
</article>

<article class="prototype--buttons">
  <header>
    <h2>Buttons</h2>
  </header>
  <div class="prototype-group--button">
  <ul component-list>
    
      <li>
        <a class="button call-to-action" href="#">Call to Action</a>

        
          <details>
  <summary>HTML Source</summary>
  <pre class="example"><code class="language-markup">&lt;a class="button call-to-action" href="#"&gt;Call to Action&lt;/a&gt;</code></pre>
</details>
        
      </li>
    
      <li>
        <a class="button big-button" href="#">Big Button</a>

        
          <details>
  <summary>HTML Source</summary>
  <pre class="example"><code class="language-markup">&lt;a class="button big-button" href="#"&gt;Big Button&lt;/a&gt;</code></pre>
</details>
        
      </li>
    
      <li>
        <a class="button big-button warning" href="#">Warning Button</a>

        
          <details>
  <summary>HTML Source</summary>
  <pre class="example"><code class="language-markup">&lt;a class="button big-button warning" href="#"&gt;Warning Button&lt;/a&gt;</code></pre>
</details>
        
      </li>
    
  </ul>
</div>
</article>

<article class="prototype--pagers">
  <header>
    <h2>Pagers</h2>
  </header>
  <div class="pagers group">
  <ul class="pager">
    <li class="pager-first">
      <a href="#" title="Go to the first page"> « First</a>
    </li>
    <li class="pager-previous">
      <a href="#" title="Go to the previous page"> ‹ Previous</a>
    </li>
    <li class="pager-item">
      <a href="#" title="Go to page 1">1</a>
    </li>
    <li class="pager-item">
      <a href="#" title="Go to page 2">2</a>
    </li>
    <li class="pager-item">
      <a href="#" title="Go to page 3">3</a>
    </li>
    <li class="pager-next">
      <a href="#" title="Go to the next page"> Next ›</a>
    </li>
    <li class="pager-last">
      <a href="#" title="Go to the last page"> Last »</a>
    </li>
  </ul>
  
  <details>
    <summary>HTML Source</summary>
    <pre class="example"><code class="language-markup">&lt;ul class="pager"&gt;
  &lt;li class="pager-first"&gt;
    &lt;a href="#" title="Go to the first page"&gt; « First&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-previous"&gt;
    &lt;a href="#" title="Go to the previous page"&gt; ‹ Previous&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-item"&gt;
    &lt;a href="#" title="Go to page 1"&gt;1&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-item"&gt;
    &lt;a href="#" title="Go to page 2"&gt;2&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-item"&gt;
    &lt;a href="#" title="Go to page 3"&gt;3&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-next"&gt;
    &lt;a href="#" title="Go to the next page"&gt; Next ›&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="pager-last"&gt;
    &lt;a href="#" title="Go to the last page"&gt; Last »&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </details>
  
</div>
</article>
      </div>
    </main>

    <!-- JavaScript goes in the footer! -->
    
    <!-- Prism JavaScript -->
    <script src="/canary-neue/bower_components/prism/prism.js"></script>
    <!-- Polyfill for Details element -->
    <script src="/canary-neue/bower_components/Element.details/__COMPILE/Element.details.js"></script>
    

  
  </body>
</html>
