<section class="slideshow">
  <div class="slides">
    <article class="slide">
      <figure>
        <img src="http://fillmurray.com/960/540/" alt="a client">
        <!-- <img src="http://dummyimage.com/960x540/" alt="a client"> -->
        <figcaption>
          <h1>Bill Murray</h1>
          <p>Get them in the crosshairs and hunt them down.</p>
        </figcaption>
      </figure>
    </article>
    <article class="slide">
      <figure>
        <img src="http://fillmurray.com/970/540/" alt="a client">
        <!-- <img src="http://dummyimage.com/970x540/" alt="a client"> -->
        <figcaption>
          <h1>Bill Murray</h1>
          <p>For relaxing times, make it Santori times.</p>
        </figcaption>
      </figure>
    </article>
    <article class="slide">
      <figure>
        <img src="http://fillmurray.com/980/540/" alt="a client">
        <!-- <img src="http://dummyimage.com/980x540/" alt="a client"> -->
        <figcaption>
          <h1>Bill Murray</h1>
          <p>Back off man, I'm a scientist.</p>
        </figcaption>
      </figure>
    </article>
  </div>
</section>
