<section class="slideshow">
  <div class="slides">
    <article class="slide">
      <figure>
        <img src="{{image-url 'fillmurray/bill1.jpg'}}" width="960" height="540" alt="a client">
        <figcaption>
          <h1>Bill Murray</h1>
          <p>For relaxing times, make it Santori times.</p>
        </figcaption>
      </figure>
    </article>
    <article class="slide">
      <figure>
        <img src="{{image-url 'fillmurray/bill2.jpg'}}" width="960" height="540" alt="a client">
        <figcaption>
          <h1>Bill Murray</h1>
          <p>Get them in the crosshairs and hunt them down.</p>
        </figcaption>
      </figure>
    </article>
    <article class="slide">
      <figure>
        <img src="{{image-url 'fillmurray/bill3.jpg'}}" width="960" height="540" alt="a client">
        <figcaption>
          <h1>Bill Murray</h1>
          <p>Back off man, I'm a scientist.</p>
        </figcaption>
      </figure>
    </article>
  </div>
</section>
