<section class="press-room">
  <h1 class="section-title">Press Room</h1>
  <ul>
    <li>
      <a href="#" title="press title" data-icon="bubble">43 Ideas for the Philadelphia arts receive more than $2 million in funding</a>
    </li>
    <li>
      <a href="#" title="press title" data-icon="bubble">Lantern Theater Company Extends Tom Stoppard’s Heroes, starring Peter DeLaurier, Dan Kern and Mal Whyte, through June 16 – Five Performances Added</a>
    </li>
    <li>
      <a href="#" title="press title" data-icon="bubble">Last Chance to Nominate Pennsylvania’s Top 10 Endangered Artifacts; Deadline April 15</a>
    </li>
    <li>
      <a href="#" title="press title" data-icon="bubble">Tickets On Sale Now for Puppet Festival (r)Evolution</a>
    </li>
    <li>
      <a href="#" title="press title" data-icon="bubble">FringeArts’ new Delaware River waterfront building set to begin operations in October 2013</a>
    </li>
  </ul>
</section>
