.container-footer {
  padding-bottom: 0;
}
#footer {
  @include leader(2);
  border-top: 0.5em solid $blue;
  @include padding-leader;
  @include padding-trailer(2);
  @extend %un-pad;
  background: $orange;
  color: $white;
  a {
    @include link-colors($blue-dark, $white, $white, $blue-dark, $blue-dark);
  }
  .search {
    @extend %vertical-separation;
    > h1 {
      @extend %visuallyhidden;
    }
    form {
      position: relative;
    }
    input {
      position: relative;
      z-index: 1;
      width: 100%;
      min-height: 44px;
      margin-right: -50px;
      padding: 3px 50px 3px 3px;
      background: $white;
      border: 1px solid $gray-light;
    }
    button {
      position: relative;
      z-index: 2;
      background: $gray-trans;
      border: none;
      width: 44px;
      height: 44px;
      float: right;
      border-left: 1px solid $gray-light;
      color: $blue;
      font-size: 18px;
      @include text-shadow(rgba($white, 0.8) 1px 1px 0)
    }
  }

  .address {
    > h1 {
      @extend %visuallyhidden;
    }
  }
}
