// @function bird-position($i, $total-birds: 7, $start-pos: 50%, $split: 50%) {
//   $slices: $split / $total-birds;
//   $slice: $slices * $i;
//   $end-pos: $start-pos + $slice;
//   @return $end-pos;
// }
// @function bird-flip($i) {
//   $flip: 0%;
//   @if ($i % 2 == 0) {
//     $flip: 48%;
//   } @else {
//     $flip: 100%;
//   }
//   @return $flip;
// }

.jPanelMenu-panel {
  @include breakpoint($bp-nav) {
    @include display-box;
    @include box-orient(vertical);
    // @include box-align(stretch);
    @include box-direction(column);
    .site-header {
      @include box-ordinal-group(1);
      margin-bottom: 0;
      border-bottom: none;
    }
    > .container {
      @include box-ordinal-group(3);
    }
    .container-footer {
      @include box-ordinal-group(4);
    }
    #menu {
      @include box-ordinal-group(2);
      @include header-bg;
      padding: 0.5em 0;
      margin-bottom: 2em;
      ul {
        @include display-box;
        @include box-orient(horizontal);
        @include box-align(stretch);
        padding-left: 0;
        margin: 0 1em;
        li {
          @include box-flex(1);
          // border: {
          //   width: 1px 0;
          //   style: solid;
          //   color: $gray-lighter;
          // }
          padding: 0 0.25em;
          margin: 0 0.25em;
          text-align: center;
          // text-transform: uppercase;
          position: relative;
          @include transition(all 0.5s ease);
          @for $i from 1 through 7 {
            &:nth-of-type(#{$i}) {
              // @debug bird-flip($i);
              &:before {
                background: {
                  image: image-url('birds/bird-0#{$i}.svg');
                }
              }
            }
          }
          &:before {
            position: absolute;
            content: $space;
            width: 45px;
            height: 45px;
            // left: 50%;
            top: -100%;
            // border-radius: 50%;
            opacity: 0.2;
            @include transform3d( translateX(-75%) translateY(10%) scale(0.6) );
            @include transition(all 0.5s ease);
            // border: 1px solid rgba($gray, 0.8);
            background: {
              repeat: no-repeat;
              // color: $gray-lighter;
              position: 50% 50%;
            }
            z-index: 0;
          }
          &:hover {
            // background-color: $background-color;
            border-color: $blue;
            &:before {
              opacity: 0.8;
              background-color: $blue;
            }
          }
          // &:before {
          //   top: 100%;
          // }
          // &:after {
          //   bottom: 100%;
          // }
          a {
            position: relative;
            z-index: 1
          }
        }
      }
    }
    .no-flexbox & {
      // fallback
    }
  }
  .main-nav {
    max-width: 1000px;
    @include breakpoint($bp-big-logo) {
      margin: 0 auto;
    }
  }
}

.main-nav {
  @extend %slab-sc-medium;
  letter-spacing: 1px;
  // ul {
  //   // @include inline-list;
  //   #jPanelMenu-menu & {
  //     display: block;
  //     li {
  //       display: block;
  //     }
  //   }
  // }
}

#jPanelMenu-menu {
  @extend %slab-light;
  background-color: $blue;
  border-right: 1px solid shade($blue, 20%);
  letter-spacing: 1px;
  // text-transform: uppercase;
  @include text-shadow(rgba($black, 0.4) 1px 1px 0);
  li {
    text-align: right;
  }
  a {
    @include link-colors($cool-white, $white, $white, $cool-white, $cool-white);
    line-height: 44px;
    border-bottom: 1px solid rgba(shade($blue, 20%), 0.5);
    padding: 0 0.5em;
  }
  .jPanelMenu-panel & {
    display: none;
  }
}

#wall {
  background-color: rgba($orange,  0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $zi-wall;
  @include breakpoint(500px) {
    background-color: rgba($white,  0.9);
    border-left: 1em solid rgba($orange,  0.9);
  }
}

// [data-menu-position="open"] {
//   .jPanelMenu-panel {
//     > a,
//     > header,
//     > .container,
//     > #menu {
//       @include filter( grayscale(1) );
//     }
//   }
// }

.menu-trigger {
  float: right;
  min-width: 44px;
  line-height: 44px;
  text-align: center;
  @include link-colors($orange, $gray-light, $gray-light, $orange, $orange);
  @include breakpoint($bp-nav) {
    display: none;
  }
}
