.press-room {
  @extend %vertical-separation;
  ul {
    @include no-bullets;
  }
  li {
    @extend %vertical-separation-small;
    @extend %un-pad;
    border-bottom: 1px dashed rgba($gray-light, 0.5);
    a {
      padding-left: 1.5em;
      display: inline-block;
      &:before {
        @extend %canary-speech-bubble;
      }
    }
    &:nth-of-type(even) {
      background-color: $white;
    }
  }
}
