h1[class*="title"] {
  color: $white;
  background-color: $orange;
  $vert-padding: calc-em($base-font-size, nth($header-sizes, 1)) / 2;
  margin-left: calc-em(-9px, nth($header-sizes, 1));
  margin-right: calc-em(-9px, nth($header-sizes, 1));
  padding: $vert-padding calc-em(9px, nth($header-sizes, 1));
  @include margin-trailer(0.5);
  a {
    @include link-colors($white, $white, $white, $white, $white);
    &:hover {
      text-shadow: $blue 2px 2px 0;
    }
  }
}

.page-title {
  position: relative;
  margin-bottom: calc-em(50px, nth($header-sizes, 1));
  &:after {
    content: $space;
    display: block;
    position: absolute;
    top: 100%;
    left: 0.25em;
    border-width: 0.5em 0.5em 0 0.5em;
    border-style: solid;
    border-color: $orange transparent transparent transparent;
  }
}
