// Create the design for your site below
// If you're using SMACSS, this is where module, state and theme styles go
// SITE-WIDE DESIGN -------------------------------------------------------------- */

// .page-wrapper {
//   @include baseline-grid-background();
//   border-top: 1px solid red;
// }

// * {
//   @include filter( grayscale(1) );
// }



[class*="container"] {
  // @include debug-outline;
  padding: 0 0.5em 0.5em;
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto $base-line-height;
  clear: both;
}


.image-right {
  float: right;
  margin: 0 0 0.5em 0.5em;
}

img {
  border: 1px solid $gray-med;
}
