// Create the design for your site below
// If you're using SMACSS, this is where module, state and theme styles go
// SITE-WIDE DESIGN -------------------------------------------------------------- */

// .page-wrapper {
//   @include baseline-grid-background();
//   border-top: 1px solid red;
// }

// * {
//   @include filter( grayscale(1) );
// }

%un-pad {
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

%vertical-separation {
  @include vertical-separation($margin: $kit-baseline * 2);
}
%vertical-separation-border {
  @include vertical-separation($margin: $kit-baseline * 2, $divide: 1px, $bordercolor: $gray-trans);
}
%vertical-separation-small {
  @include vertical-separation($margin: $kit-baseline * 0.5);
}

%article-header {
  font-size: calc-em(ms(2), $base-font-size);
  line-height: calc-em(32px, ms(2));
  margin-bottom: 0.25em;
}

[class*="container"] {
  // @include debug-outline;
  padding: 0.5em;
}



.main-nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  @extend %slab-light;
  @include text-shadow(rgba($black, 0.4) 1px 1px 0);
  ul {
    @include inline-list;
    #jPanelMenu-menu & {
      display: block;
      li {
        display: block;
      }
    }
  }
}

#jPanelMenu-menu {
  background-color: $blue;
  border-right: 1px solid shade($blue, 20%);
  li {
    text-align: right;
  }
  a {
    @include link-colors($cool-white, $white, $white, $cool-white, $cool-white);
    line-height: 44px;
    border-bottom: 1px solid rgba(shade($blue, 20%), 0.5);
    padding: 0 0.5em;
  }
  .jPanelMenu-panel & {
    display: none;
  }
}

#wall {
  background-color: rgba($orange,  0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $zi-wall;
  @include breakpoint(500px) {
    background-color: rgba($white,  0.9);
    border-left: 1em solid rgba($orange,  0.9);
  }
}

// [data-menu-position="open"] {
//   .jPanelMenu-panel {
//     > a,
//     > header,
//     > .container,
//     > #menu {
//       @include filter( grayscale(1) );
//     }
//   }
// }

.menu-trigger {
  float: right;
  min-width: 44px;
  line-height: 44px;
  text-align: center;
  // @include link-colors($gray-med, $gray-light, $gray-light, $gray-med, $gray-med);
  @include link-colors($orange, $gray-light, $gray-light, $orange, $orange);
  @include transform3d( rotate(-90deg) );
  position: relative;
  &:after {
    position: absolute;
    content: $space;
    width: 75%;
    height: 0;
    bottom: 15px;
    left: 50%;
    border-bottom: 1px solid $orange;
    @include transform3d( translateX(-50%) );
  }
}


.site-header {
  padding: 0 0.5em;
  margin-bottom: 2em;
  background-color: $white;
  border-bottom: 1px solid rgba($blue, 0.1);
}

.logo-site-name {}

.logo {
  // float: left;
  width: ms(6);
  width: ms(8);
  display: block;
  margin: 0 auto;
  @include transform3d( translateY(18px) );
  // @include filter( drop-shadow(rgba($black, 0.5) 0 0 4px) drop-shadow(rgba($white, 0.9) 0 0 2px) );
  position: relative;
  &:before, &:after {
    position: absolute;
    display: block;
    content: $space;
    top: 50%;
    border-bottom: 1px solid $orange-thin;
  }
  &:before {
    width: 100%;
    left: -110%;
  }
  &:after {
    width: 114%;
    left: 86%;
  }
  img {
    border: none;
  }
}

.site-name {
  color: $orange;
  padding-bottom: 0.125em;
  text-align: center;
  padding: 0 0.25em;
  line-height: $base-line-height * 2;
}

.tagline {
  text-align: center;
  font-family: $avenir-next-rounded;
  max-width: calc-em(280px, $base-font-size);
  margin: 0 auto;
  color: $blue;
  padding-bottom: 0.5em;
  .amp {
    display: inline-block;
    @include transform3d( scale(1.5) translateY(1px) );
    opacity: 0.3;
  }
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto $base-line-height;
  clear: both;
}


.image-right {
  float: right;
  margin: 0 0 0.5em 0.5em;
}

img {
  border: 1px solid $gray-med;
}


h1[class*="title"] {
  color: $white;
  background-color: $orange;
  $vert-padding: calc-em($base-font-size, nth($header-sizes, 1)) / 2;
  margin-left: -0.5em;
  margin-left: calc-em(-9px, nth($header-sizes, 1));
  margin-right: calc-em(-9px, nth($header-sizes, 1));
  padding: $vert-padding calc-em(9px, nth($header-sizes, 1));
  @include margin-trailer(0.5);
  a {
    @include link-colors($white, $gray-med, $gray-med, $white, $white);
  }
}


.page-title {
  position: relative;
  margin-bottom: calc-em(50px, nth($header-sizes, 1));
  &:after {
    content: $space;
    display: block;
    position: absolute;
    top: 100%;
    left: 0.25em;
    border-width: 0.5em 0.5em 0 0.5em;
    border-style: solid;
    border-color: $orange transparent transparent transparent;
  }
}



.bird-feed {
  @extend %vertical-separation;
  article {
    @extend %vertical-separation-border;
    > h1 {
      @extend %article-header;
      color: $blue;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .img-wrapper {
    min-width: 320px;
    margin: 0 -0.5em 0.5em;
    position: relative;
    &:before, &:after {
      position: absolute;
      content: $space;
      width: 0;
      height: 0;
      border: {
        width: 0.5em 0.5em 0;
        style: solid;
      }
    }
    &:before {
      top: 0;
      left: 0.5em;
      border: {
        color: $background-color $transparent $transparent;
      }
    }
    &:after {
      bottom: -0.5em;
      left: 0.5em;
      border: {
        color: $gray-med $transparent $transparent;
      }
    }
  }
  img {
    border: {
      width: 0 0 1px 0;
    }
  }
}




.press-room {
  @extend %vertical-separation;
  ul {
    @include no-bullets;
    margin-left: 0;
    padding-left: 0;
  }
  li {
    @extend %vertical-separation-small;
    @extend %un-pad;
    // border-bottom: 1px dashed $gray-med;
    &:nth-of-type(even) {
      background-color: $white;
    }
  }
}

.testimonials {
  @extend %vertical-separation;
  article {
    @extend %vertical-separation-border;
    h1 {
      @extend %article-header;
      color: $blue;
    }
    blockquote {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.social-media {
  ul {
    @include inline-list;
    // display: block;
    // text-align: center;
  }
  li {
    @include adjust-font-size-to(ms(4));
  }
  a {
    display: inline-block;
    background-color: $blue;
    padding: 0.2em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    @include link-colors($background-color, $white, $white, $background-color, $background-color);
    @include text-shadow(rgba($black, 0.3) 1px 1px 1px);
    @include box-shadow(rgba($blue, 0.3) 0 0 0 4px);
    &:hover {
      background-color: $orange;
      @include box-shadow(rgba($orange, 0.3) 0 0 0 4px);
    }
  }
}

.container-footer {
  padding-bottom: 0;
}
#footer {
  @include leader(2);
  border-top: 0.5em solid $blue;
  @include padding-leader;
  @include padding-trailer(2);
  @extend %un-pad;
  background: $orange;
  color: $white;
  a {
    @include link-colors($blue-dark, $white, $white, $blue-dark, $blue-dark);
  }
  .search {
    @extend %vertical-separation;
    > h1 {
      @extend %visuallyhidden;
    }
    form {
      position: relative;
    }
    input {
      position: relative;
      z-index: 1;
      width: 100%;
      min-height: 44px;
      margin-right: -50px;
      padding: 3px 50px 3px 3px;
      background: $white;
      border: 1px solid $gray-light;
    }
    button {
      position: relative;
      z-index: 2;
      background: $gray-trans;
      border: none;
      width: 44px;
      height: 44px;
      float: right;
      border-left: 1px solid $gray-light;
      color: $blue;
      font-size: 18px;
      @include text-shadow(rgba($white, 0.8) 1px 1px 0)
    }
  }

  .address {
    > h1 {
      @extend %visuallyhidden;
    }
  }
}




