$grids: 2;
// $grids: add-grid(compound(4, 5) at $bp-multicol);
// $grids: add-grid(2 at $bp-multicol);
// $grids: add-grid(ratio(golden(), 2, 'large') at $bp-multicol);
$grids: add-grid(ratio(golden(), 2, 'large') at $bp-golden-2);
// $grids: add-grid(compound(3, 5) at $bp-multicol);
// $grids: add-grid(compound(3, 5) at $bp-multicol);
// $grids: ratio-spiral();
$gutters: 1/8;
$gutters: add-gutter(1/10 at $bp-golden-2);
// $gutters: add-gutter(1/2 at $bp-multicol);

[class*="container"] {
  @include clearfix();
  @include background-grid();
}


@include breakpoint($bp-press-2col) {
  .wrapper-a {
    @include clearfix();
  }
  .testimonials {
    @include grid-span(1, 1);
  }
  .press-room {
    @include grid-span(1, 2);
  }
  .social-media {
    @include grid-span(1, 2);
    clear: right;
  }
}
@include breakpoint($bp-multicol) {
  .slideshow {
    @include grid-span(1, 1);
  }
  .wrapper-a {
    @include grid-span(1, 2);
  }
  // .testimonials {
  //   @include grid-span(1, 2);
  // }
  // .press-room {
  //   @include grid-span(1, 2);
  //   clear: right;
  // }
  // .social-media {
  //   @include grid-span(1, 2);
  //   clear: right;
  // }
  .bird-feed {
    @include grid-span(1, 1);
    clear: left;
  }
}
