$grids: 2;
// $grids: add-grid(compound(4, 5) at $bp-temp);
// $grids: add-grid(2 at $bp-temp);
$grids: add-grid(ratio(golden(), 2, 'large') at $bp-temp);
// $grids: ratio-spiral();
$gutters: 1/8;
$gutters: add-gutter(1/12 at $bp-temp);

[class*="container"] {
  @include background-grid();
}



@include breakpoint($bp-temp) {
  [class*="container"] {
    @include clearfix();
  }
  .slideshow {
    @include grid-span(1, 1);
  }
  .wrapper-a {
    @include grid-span(1, 2);
  }
  // .testimonials {
  //   @include grid-span(1, 2);
  // }
  // .press-room {
  //   @include grid-span(1, 2);
  //   clear: right;
  // }
  // .social-media {
  //   @include grid-span(1, 2);
  //   clear: right;
  // }
  .bird-feed {
    @include grid-span(1, 1);
    clear: left;
  }
}
