// HTML //////////////////////
html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Body //////////////////////
body {
  font-family: $font-body;
  color: $cs-text;
  background: $cs-background;
  @include enable-ligatures;
}
