<!-- Component: Header,  Type: Site_header -->
<a href="#menu" class="menu-trigger icon-canary">menu</a>
<header class="site-header">
  <div class="site-header-wrapper">
    <a href="/" class="logo-site-name">
      <div class="logo">
        <!-- <img src="{{image-url 'canary-bird.svg'}}"  alt="Canary Promotion logo">
        -->
      {{> bird-logo-svg}}
      </div>
      <h1 class="site-name">Canary Promotion</h1>
    </a>
    <p class="tagline">
      Communications for Arts, Culture
      <span class="amp">&amp;</span>
      Mission-Driven Clients
    </p>
  </div>
</header>
