%orange-block {
  color: $white;
  background-color: $orange;
  $vert-padding: calc-em($base-font-size, nth($header-sizes, 1)) / 2;
  margin-left: calc-em(-9px, nth($header-sizes, 1));
  margin-right: calc-em(-9px, nth($header-sizes, 1));
  padding: $vert-padding calc-em(9px, nth($header-sizes, 1));
  @include margin-trailer(0.5);
  a {
    @include link-colors($white, $white, $white, $white, $white);
    &:hover {
      text-shadow: $blue 2px 2px 0;
    }
  }
}

%article-header {
  font-size: calc-em(ms(2), $base-font-size);
  line-height: calc-em(32px, ms(2));
  margin-bottom: 0.25em;
}

%header-to-label {
  border-bottom: none;
  color: $orange;
  background-color: transparent;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: inline;
  &:after {
    content: ": ";
    margin-right: 0.25em;
  }
}
