@import "typography";
@import "triangles";

%un-pad {
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

%vertical-separation {
  @include vertical-separation($margin: $kit-baseline * 2);
}
%vertical-separation-border {
  @include vertical-separation($margin: $kit-baseline * 2, $divide: 1px, $bordercolor: $gray-trans);
}
%vertical-separation-small {
  @include vertical-separation($margin: $kit-baseline * 0.5);
}

%margin-pad-zero {
  margin: 0;
  padding: 0;
}

%margin-pad-left-zero {
  margin-left: 0;
  padding-left: 0;
}
