@import "typography";

%un-pad {
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

%vertical-separation {
  @include vertical-separation($margin: $kit-baseline * 2);
}
%vertical-separation-border {
  @include vertical-separation($margin: $kit-baseline * 2, $divide: 1px, $bordercolor: $gray-trans);
}
%vertical-separation-small {
  @include vertical-separation($margin: $kit-baseline * 0.5);
}

%article-header {
  font-size: calc-em(ms(2), $base-font-size);
  line-height: calc-em(32px, ms(2));
  margin-bottom: 0.25em;
}
