<section class="press-room">
  <h1 class="section-title">Press Room</h1>
  <ul>
    <li>
      <a href="#" title="press title">Praesent blandit libero ut mi.</a>
    </li>
    <li>
      <a href="#" title="press title">Mauris non congue lectus. Praesent.</a>
    </li>
    <li>
      <a href="#" title="press title">Nam suscipit odio quis quam.</a>
    </li>
    <li>
      <a href="#" title="press title">Duis suscipit nibh nec lacus.</a>
    </li>
    <li>
      <a href="#" title="press title">Duis sit amet tempus quam.</a>
    </li>
  </ul>
</section>
