<section class="testimonials">
  <h1 class="section-title">Testimonials</h1>
  <article class="testimonial">
    <blockquote>
      <h1>Holy shit Canary is great.</h1>
      <p>
        Quisque ultrices placerat nunc. Quisque nec faucibus diam, et posuere sem. Nunc risus ante, elementum eu nisl in, placerat imperdiet justo. Fusce in ligula vel enim facilisis vehicula sit amet ac tortor. </p>
      <footer>Peter Venkman</footer>
    </blockquote>
  </article>
  <article class="testimonial">
    <blockquote>
      <h1>They even told me how wrong I am.</h1>
      <p>
        Cras eget est vel nulla aliquam volutpat sed a ante. Suspendisse non mattis turpis, ac ornare urna. Duis pulvinar aliquam nunc, a iaculis mi consectetur et.      </p>
      <footer>Steve Zissou</footer>
    </blockquote>
  </article>
  <article class="testimonial">
    <blockquote>
      <h1>Canary can do no wrong.</h1>
      <p>
        Vivamus non mattis elit, non luctus enim. Phasellus volutpat congue venenatis. Vestibulum non leo libero. Maecenas varius condimentum turpis, id fermentum leo interdum a. Phasellus nec mi scelerisque, vestibulum lorem in, scelerisque tellus. Nam blandit libero non nulla sodales elementum.      </p>
      <footer>Bob Harris</footer>
    </blockquote>
  </article>
</section>
