<article>
  <h1>Crowdsourcing: How Honesty Moves Us Forward</h1>
  <p>
    Earlier this month I made my way to the Friends Center for Crowdsourcing Change, a
    <a href="http://www.phillynetsquared.org">Philly NetSquared</a>
    event that takes place every few months.
    <a href="http://phillynetsquared.org/events/2013/05/crowdsourcing-change-applying-social-web-some-important-local-nonprofits">Here’s how they describe it</a>
    :
  </p>
</article>
<article>
  <h1>So You’ve Hired a Communications Team – Now What?</h1>
  <div class="img-wrapper">
    <img src="{{image-url 'fillmurray/bill-320x180-4.jpg'}}" width="320" height="180" alt="a client"></div>
  <p>
    You’ve taken the plunge and hired an outside firm — to promote a special project or a big event or to plan and lead communications on an ongoing basis.  But with all that you do, how do you communicate with the communicators and build a successful partnership?  How do you make sure your investment pays off?
  </p>
</article>
