<article>
  <h1>Spring 2013 Newsletter: What Kind of Leader Are You?</h1>
  <div class="img-wrapper">
    <img src="{{image-url 'fillmurray/bill-320x180-2.jpg'}}" width="320" height="180" alt="a client"></div>
  <p>
    It’s our business to make headlines for our clients, but we’re flattered to make our own news every now and then: In our just-published
    <a href="http://us2.campaign-archive1.com/?u=dca95b983755b4e0117543b0b&amp;amp;id=7e617959fe&amp;amp;e=45468c8c98">spring 2013 newsletter</a>
    , Megan discusses her
    <a href="http://blog.mindjet.com/2013/01/workology-personality-types-the-cheerleader/">leadership style</a>
    on MindJet.com and Carolyn
    <a href="http://canarypromo.com/birdfeed/faces-prsa-philly-canary-edition">talks shop</a>
    with the Public Relations Society of America. Plus, we share tips on getting the most out of your
    <a href="http://canarypromo.com/birdfeed/stop-wasting-money-how-stretch-your-facebook-ad-dollars">Facebook ad dollars</a>
    , address
PR
-driven
    <a href="http://canarypromo.com/birdfeed/connecting-organically-how-pr-drives-seo-results">SEO</a>
    and offer advice on
    <a href="http://canarypromo.com/birdfeed/five-signs-it%E2%80%99s-time-hire-communications-firm">when to hire</a>
    a communications firm — and how to make sure your
    <a href="http://canarypromo.com/birdfeed/so-you%E2%80%99ve-hired-communications-team-%E2%80%93-now-what">investment pays off</a>
    .
  </p>
</article>
