{
  "title": "Component Guide",
  "examples": true
}
---

<article class="prototype--header--site-header">
  <header>
    <h2>Site Header</h2>
  </header>
  {{#if page.examples}}
    {{{create-example-sass "header" all true}}}
  {{/if}}
  {{> header--site-header}}
</article>

<article class="prototype--menu--site-menu">
  <header>
    <h2>Site Menu</h2>
  </header>
  {{> prototype-group--menu}}
</article>

<article class="prototype--feature--hero">
  <header>
    <h2>Hero</h2>
  </header>
  {{> feature--hero}}
</article>

<article class="prototype--title--section">
  <header>
    <h2>Titles</h2>
  </header>
  {{> prototype-group--title}}
</article>

<article class="prototype--teaser">
  <header>
    <h2>Blog Teasers</h2>
  </header>
  {{> teaser--blog}}
  <header>
    <h2>Testimonial Teasers</h2>
  </header>
  {{> teaser--testimonial}}
</article>

<article class="prototype--headline--press">
  <header>
    <h2>Press Headlines</h2>
  </header>
  <ul>
    <li>
      {{> headline--press}}
    </li>
    <li>
      {{> headline--press-2}}
    </li>
    <li>
      {{> headline--press-3}}
    </li>
    <li>
      {{> headline--press-4}}
    </li>
    <li>
      {{> headline--press-5}}
    </li>
  </ul>
</article>

<article class="prototype--social-link">
  <header>
    <h2>Social Links</h2>
  </header>
  {{> prototype-group--social-link}}
</article>

<article class="prototype--a11y">
  <header>
    <h2>Accessibility</h2>
  </header>
  {{> a11y}}
</article>

<article class="prototype--messaging">
  <header>
    <h2>Messages</h2>
  </header>
  {{> prototype-group--message}}
</article>

<article class="prototype--buttons">
  <header>
    <h2>Buttons</h2>
  </header>
  {{> prototype-group--button}}
</article>

<article class="prototype--pagers">
  <header>
    <h2>Pagers</h2>
  </header>
  {{> pager}}
</article>
